.body_background {
    background-image:url("avenger_bg.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas{
  border-width: 10px;
  border-color: white;  
  border-style: ridge;
  background-color: white;
}
h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
#head_info{
  width: 600px;  
  border-radius: 10px;
  margin-bottom: 10px;
}